@model IEnumerable<ProjectCustomerManage.Models.CustomersTBL>

@{
    ViewBag.Title = "Customers List";
}

<h2>Customers List</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HebrewName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitiesTBL.NameCity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HebrewName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CitiesTBL.NameCity)
            </td>

        </tr>
    }

</table>
@if (ViewBag.mes != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.mes");
        };
    </script>
}